.formContainer{
    display: flex;
    flex-direction:column;
    gap: 10px;
    justify-content: space-around;
    border-style: solid;
    border-color: rgb(106, 0, 255);
    border-radius: 2em;
    height: 25%;
    padding: 1em;
    width: 100%;
    background-color: rgba(106, 0, 255, 0.2);;
    box-shadow: 10px 10px rgba(106, 0, 255, 0.1);
}

.inputContainer{
    display: flex;
    justify-content: space-between;
}

.button1{
    border-style: solid;
    border-radius: 2em;
    border-color: gray;
    background: rgba(0, 0, 0, 0.1);
}

.dataContainer{
    /*
    border-style: solid;
    border-color: gray;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
    */
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 2em;

}